<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'cocktail_c.jpg', alt: 'cocktail' %>)">
  <div class="banner-content">
    <h1 class= "alchemist">The alchemist</h1> <br>
    <%= link_to "Make a new cocktail", new_cocktail_path, class: "btn btn-success btn_b" %>

  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to cocktail_path(c) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
          <div class="card-category"><%= c.name.capitalize%></div>
          <div class="card-description">
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
