<div class="center">
  <%= simple_form_for(@cocktail) do |c| %>
    <%= c.input :name, input_html: { autocomplete: "off" } %>

</div>
    <%= c.button :submit, class: "btn btn-primary" %>
  <% end %> <br>

  <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-primary"  %>
